.App {
  background-color: #282c34;
}

.header-main {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 4;
  position: sticky;
  /* background-color: palegreen; */
}

.header-app {
  display: flex;
  border-style: solid;
  border-color: white;
  border-bottom: none;
  justify-content: space-around;
  flex: 1;
  /* background-color: pink; */
}

.header-group {
  display: flex;
  border-style: solid;
  border-color: white;
  border-bottom: none;
  justify-content: center;
  flex: 3;
  /* background-color: orchid; */
  flex-direction: row;
  align-items: center;
}

.header-group p {
  justify-content: center;
  /* background-color: turquoise; */
  font-size: larger;
}
.header-group h1 {
  justify-content: center;
  /* background-color: orange; */
  text-align: center;
}

.body {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex: 4;
  flex-direction: row;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 80vh;
}

.groups {
  display: flex;
  border-style: solid;
  border-color: white;
  border-top: none;
  justify-content: space-around;
  flex: 1;
  flex-direction: column;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-form-buttons {
  display: flex;
  flex-direction: row;
}

.task-body {
  display: flex;
  padding-block-end: 5%;
  justify-content: space-between;
  align-items: center;
}

.task-body span {
  display: flex;
  flex-direction: column;
}

.task-list {
  display: flex;
  /* border-style: solid; */
  /* border-color: white; */
  /* border-top: none; */
  justify-content: flex-start;
  flex: 3;
  flex-direction: column;
  margin-inline: 2%;
}

/* .create-group { */
/* display: inline-flex; */
/* flex-direction: column; */
/* flex: 1; */
/* } */
/* 
.create-group-span {
  flex-direction: row;
} */

.tasks {
  display: flex;
  flex-direction: column;
}

.list-tasks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-style: solid;
  border-color: white;
  border-radius: 50px;
  text-align: center;
  display: flex;
  /* text-indent: 2%; */

  /* margin: 1%; */
}

p {
  margin-inline: 15px;
}

.App form {
  display: flex;
  justify-content: stretch;
  /* margin-inline: 5%; */
  border-color: white;
}

.App input {
  display: flex;
  flex: 1;
  border-style: solid;
  border-color: white;
  justify-content: center;
  text-align: center;
  padding: 10px;
  /* margin-inline: 50px; */
}

.create-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* margin-bottom: 10%; */
}

.create-group button {
  flex: 2;
}

.create-task-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  /* margin-bottom: 10%; */
}

/* .create-task { */
/* background-color: blue; */
/* display: flex; */
/* flex-direction: column; */
/* justify-content: stretch; */
/* text-align: center; */
/* margin-bottom: 10%; */
/* } */

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* margin-bottom: 10%; */
}
.g-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.icon-select {
  display: flex;
}

.group-form-name-emoji {
  display: flex;
}

Button {
  margin-top: 5%;
  margin-bottom: 5%;
  height: max-content;
  background-color: #5b5c5e;
  display: flex;
  flex: 1;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-inline: 2%;
}

input {
  background-color: #5b5c5e;
}

select {
  background-color: #5b5c5e;
}

textarea {
  background-color: #5b5c5e;
}

.form-task {
  display: flex;
}

.form-task form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex-wrap: wrap;
  width: 600px;
  /* justify-content: stretch; */
  /* text-align: center; */
}

.task-text {
  display: flex;
  flex: 1;
  /* resize: none; */
  /* height: max-content; */
}

.form-group {
  flex: 1;
}

.date-submit {
  display: flex;
  align-items: center;
}

.task-button {
  display: flex;
}

button {
  cursor: pointer;
}
select {
  cursor: pointer;
}
select text {
  cursor: pointer;
}
input[type="date"] {
  cursor: text;
}

/* form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
} */

/* body { */
/* text-align: center; */
/* background-color: #282c34; */
/* } */

/* .header-row { */
/* display: flex; */
/* color: white; */
/* border-style: solid; */
/* border-color: green; */
/* height: 90px; */
/* } */
/* .header-left { */
/* flex: 30%; */
/* background-color: pink; */
/* } */
/* .header-right { */
/* flex: 70%; */
/* background-color: red; */
/* } */
/* .create-row { */
/* display: flex; */
/* height: 150px; */
/* border-color: yellow; */
/* border-style: solid; */
/* } */
/* .create-group { */
/* flex: 20%; */
/* background-color: blue; */
/* margin: auto; */
/* } */
/* .create-task { */
/* flex: 70%; */
/* background-color: orange; */
/* margin: auto; */
/* } */
/* .body-row { */
/* display: flex; */
/* border-color: aqua; */
/* border-style: solid; */
/* flex: 40%; */
/* } */
/* .group-column { */
/* flex: 30%; */
/* background-color: brown; */
/* } */
/* .task-column { */
/* flex: 70%; */
/* background-color: beige; */
/* } */
/* .create-task form { */
/* margin: 2px; */
/* display: flex; */
/* flex-direction: column; */
/* } */
/* .text { */
/* height: 80px; */
/* text-align: start; */
/* } */
